$bg-color:#eef3f7;

/* 按钮 */
$button-primary-color:#3864f7;

/* 背景 */
$bg-default-color:#eef3f7;
$bg-primary-color:#3864f7;

/* 选择框 */
$border-primary-color:#dddddd;
$border-select-color:#3864f7;
$select-default-color:#fff;
$select-primary-color:#0e2fff;

/* 字体 */
$font-default-color:#fff;
$font-primary-color:#3864f7